:root {
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #FFFFFF;
    --color-decrypt-btn: #D8DFE8;
    --color-textarea-note: #495057;
    --color-output-text: #343A40;
    
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --fuente-tangerine: "Tangerine", cursive;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 100vw;
    /* max-width: 1200px; */
    display: flex;
    background-color: var(--color-primario);
    height: 100vh;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.main_left, .main_right {
    padding: 20px;
}

.main_left {
    margin-left: 5vw;
    height: 92vh;
    width: 60vw !important;;
}

.divLogo {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.main_left_encrypter {
    display: flex;
    flex-direction: column;
}

.divTextToEncript {
    margin-left: 7vw;
}

textarea {
    width: 80%;
    height: 55vh;
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 5px;
    border-color: var(--color-primario);
    margin-bottom: 20px;
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
    color: var(--color-secundario);
    outline: none !important;
    resize: none;
}

textarea::placeholder {
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    font-size: 1.2rem;
}

.material-symbols-outlined {
    margin-right: 5px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.textarea-note {
    align-items: center;
    display: flex;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color: var(--color-textarea-note);
}

.divButtons {
    margin-left: 7vw;
    width: 80%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.encrypt-btn {
    width: 20vw;
    height: 10vh;
    background-color: var(--color-secundario);
    border: none;
    border-radius: 1.3rem;
    color: var(--color-primario);
    cursor: pointer;
    font-family: var(--fuente-montserrat);
    font-size: 1.1rem;
}

.decrypt-btn {
    width: 20vw;
    height: 10vh;
    background-color: var(--color-decrypt-btn);
    border: 2px solid var(--color-secundario);
    /* border-color: var(--color-secundario); */
    border-radius: 1.3rem;
    color: var(--color-secundario);
    cursor: pointer;
    font-family: var(--fuente-montserrat);
    font-size: 1.1rem;
}

.main_right {
    background-color: var(--color-terciario);
    height: 88vh;
    width: 30vw !important;
    margin-right: 5vw;
    justify-content: center !important;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.decrypter_preview {
    max-width: 25vw;
}

.output-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-output-text);
    font-family: var(--fuente-montserrat);
    margin-top: 1vh;
    max-height: 85vh;
    overflow: auto;
    min-width: 20vw;
}

.output-desc {
    color: var(--color-textarea-note);
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
}

.img_textNotFound {
    margin-bottom: 1vh;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-around;
    }

    .main_left {
        width: 75vw !important;
        height: 45vh;
    }

    .main_right {
        width: 60vw !important;
        height: 40vh;
    }
    
    textarea {
        height: 25vh;
    }

    .divTextToEncript {
        margin-left: 2vw;
    }

    .encrypt-btn, .decrypt-btn {
        width: 22vw;
        height: 7vh;
    }

    .main_right_decrypter {
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .decrypter_preview {
        max-width: 100% !important;
    }
    
    .divButtons {
        margin-left: 2vw;
        height: 10vh;
    }

    .img_textNotFound {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: center;
    }

    .main_left {
        width: 90vw !important;
        height: 45vh;
        margin-left: 0;
    }

    .main_right {
        width: 80vw !important;
        height: 40vh;
        margin-right: 0;
    }
    
    textarea {
        height: 25vh;
    }

    .divTextToEncript {
        margin-left: 1vw;
    }

    .main_right_decrypter {
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .decrypter_preview {
        max-width: 100% !important;
    }

    .encrypt-btn, .decrypt-btn {
        min-width: 35vw;
        height: 6vh;
        font-size: 3vw;
    }
    
    .divButtons {
        margin-left: 0;
        width: 100%;
        height: 10vh;
        justify-content: space-around;
    }

    .img_textNotFound {
        display: none !important;
    }
}
